.App {
  text-align: center;
}

h3 {
  margin: 15px;
  margin-bottom: 30px;
}
.container {
  width: 600px;
  padding: 20px;
  margin: 10px;
  border: 2px solid #ccc;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="text"] {
  width: 300px;
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
}

input[type="text"]:focus {
  border-color: #333;
}

input[type="submit"] {
  width: 120px;
  height: 30px;
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 20px;
}

.inputField {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.header {
  font-weight: bold;
}

.line {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.greeting {
  margin: 0.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
